In [1]:
import os
import pandas as pd 
import numpy as np

In [5]:
os.listdir()

['AF Conc and Kernel_ID.csv',
 'beginners_python_cheat_sheet_pcc_all.pdf',
 'hello_world.py',
 'R_programming_test.html',
 'R_test_conc_spec_384obs.csv',
 'Spec_ID and Kernel_ID.csv',
 'training_AF.ipynb',
 'web_scraping.py',
 'workspace.code-workspace']

#T1.1

In [11]:
conc = pd.read_csv("AF Conc and Kernel_ID.csv", header=0)
conc.info()
conc.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Kernel_ID  480 non-null    object
 1   AF         480 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.7+ KB

  Kernel_ID           AF
0     AF_A1  2645.397000
1     AF_A2     2.903911
2     AF_A3  6100.189000
3     AF_A4     4.943678
4     AF_A5     4.322964

In [12]:
spec = pd.read_csv("Spec_ID and Kernel_ID.csv", header = 0)
spec.info()
spec.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Spec_ID    480 non-null    object
 1   Kernel_ID  480 non-null    object
dtypes: object(2)
memory usage: 3.8+ KB

          Spec_ID Kernel_ID
0  Af1_000001.dat      A1-1
1  Af1_000002.dat      A1-2
2  Af1_000003.dat      A1-3
3  Af1_000004.dat      A1-4
4  Af1_000005.dat      A1-5

#T1.2 Vector Class conversion
#T1.3 Data merging

In [15]:
df_combined = conc.join(spec.set_index('Kernel_ID'), on = 'Kernel_ID')
df_combined.info()
df_combined.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Kernel_ID  480 non-null    object
 1   AF         480 non-null    float64
 2   Spec_ID    480 non-null    object
dtypes: float64(1), object(2)
memory usage: 7.6+ KB

  Kernel_ID           AF       Spec_ID
0     AF_A1  2645.397000  af000001.dat
1     AF_A2     2.903911  af000002.dat
2     AF_A3  6100.189000  af000003.dat
3     AF_A4     4.943678  af000004.dat
4     AF_A5     4.322964  af000005.dat